apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: foundry
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: foundry
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  sources:
    - repoURL: https://github.com/yurifrl/home-systems.git
      targetRevision: HEAD
      path: k8s/charts/support
      helm:
        valuesObject:
          virtualServices:
            - name: foundry
              service:
                name: foundry2
                namespace: foundry
                port: 30000
          externalSecrets:
            - name: foundry-secrets
          persistentVolumeClaims:
            - name: foundry-data
              volumeName: foundry-data
            - name: foundry-talos-vca-xy1-data
              volumeName: foundry-talos-vca-xy1-data
          persistentVolumes:
            - name: foundry-data
              path: /var/mnt/storage/foundry-data
            - name: foundry-talos-vca-xy1-data
              path: /var/mnt/storage/foundry-data
              nodeLabelKey: kubernetes.io/hostname
              nodeLabelValues:
                - talos-vca-xy1
          services:
            - name: foundry
              port: 30000
            - name: gcsproxy
              port: 8080
          statefulSets:
            - name: foundry
              replicas: 1
              containers:
                - name: foundry
                  image: felddy/foundryvtt:release
                  imagePullPolicy: Always
                  ports:
                    - name: http
                      containerPort: 30000
                  envFrom:
                    - secretRef:
                        name: foundry-secrets
                  securityContext:
                    privileged: true
                    capabilities:
                      add:
                        - SYS_ADMIN
                  volumeMounts:
                    - name: foundry-data
                      mountPath: "/data"
              nodeSelector:
                syscd.dev/gpu: "true"
              tolerations:
                - key: "node.kubernetes.io/disk-pressure"
                  operator: "Exists"
                  effect: "NoSchedule"
              volumes:
                - name: foundry-data
                  persistentVolumeClaim:
                    claimName: foundry-talos-vca-xy1-data
                - name: options-config
                  configMap:
                    name: foundry-options
   
