# https://github.com/truecharts/public/blob/master/charts/stable/mosquitto/values.yaml
# https://truecharts.org/general/
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mosquitto
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: mosquitto
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  ignoreDifferences:
    - group: apps
      kind: Deployment
      name: mosquitto
      jsonPointers:
        - /spec/template/spec/hostUsers
  sources:
    - chart: mosquitto
      targetRevision: "17.11.3"
      repoURL: tccr.io/truecharts
      helm:
        valuesObject:
          websockets:
            enabled: true
          persistence:
            data:
              enabled: false
            configinc:
              enabled: false
            mosquitto-config:
              enabled: true
              mountPath: "/mosquitto/config/mosquitto.conf"
              subPath: "mosquitto.conf"
              type: configmap
              objectName: config
              size: 2Gi
          podOptions:
            nodeSelector:
              kubernetes.io/arch: arm64
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 128Mi

    - repoURL: https://github.com/yurifrl/home-systems.git
      targetRevision: HEAD
      path: k8s/charts/mqtt-exporter # https://github.com/kpetremann/mqtt-exporter
      helm:
        valuesObject:
          mqttBroker:
            address: "mosquitto.mosquitto.svc.cluster.local"
            port: 1883

    - repoURL: https://github.com/yurifrl/home-systems.git
      targetRevision: HEAD
      path: k8s/charts/support
      helm:
        valuesObject:
          virtualServices:
            - name: mosquitto-websockets
              service:
                name: mosquitto-websockets
                namespace: mosquitto
                port: 9001
